.say-hello {
	position: absolute;
	left: 1em;
	top: 10px;
	box-shadow: -4px -4px 5px var(--firstShadowColor),
		4px 4px 5px var(--secondShadowColor);
	border-radius: 10px;
	padding: 0 5px;

	#say-hello {
		font-weight: bold;
		background: var(--sayHello);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		filter: brightness(120%);
		text-transform: uppercase;
	}
}

.theme {
	width: 100%;
	position: relative;
	display: flex;
	margin-bottom: 3rem;
	.theme-item {
		position: fixed;
		width: fit-content;
		right: 0.7rem;
		top: 10px;
		z-index: 99;

		.theme-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: var(--bg);
			width: 30px;
			height: 30px;
			padding: 5px;
			border-radius: 50%;
			svg {
				width: 25px;
				height: 25px;
				display: none;
				color: var(--inputColor);
			}
			.fa-primary {
				color: var(--scrollbar);
			}
		}
		@media (max-width: 500px) {
			top: 4px;
			right: 5px;
		}
	}
}
.dark {
	#darkIcon {
		display: block;
	}
}
.light {
	#lightIcon {
		display: block;
	}
}

.notify-wrap {
	background: none;
	position: fixed;
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9;
	top: 0;
	transition: all 0.4s ease !important;

	.pill {
		width: 200px;
		height: 50px;
		scale: 0.9;
		border-radius: 40px;
		background: #000000;
		translate: 0 -100px;
		display: none;
		position: absolute;
		z-index: 9999;

		.theme-text {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			#theme-text {
				background: var(--check-it);
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text;
				background-clip: text;
				filter: brightness(120%);
				font-size: 2em;
				text-transform: uppercase;
				font-weight: 900;
			}
		}

		.notify {
			width: 100%;
			position: absolute;

			#check {
				height: 50px;
				width: 0px;
				translate: 0 10px;
				fill: #03ff74;
				stroke-width: 14px;
				// display: none;
			}
		}
	}
}

.dark .pill {
	box-shadow: 0 0 10px #7600fe;
}
