.light {
    --bg: var(--grey0);

    --switchTextColor: var(--black);

    --placeholder: var(--grey2);

--sayHello:linear-gradient(90deg, var(--blue), var(--purple2),var(--orange));

    --h3wrap: linear-gradient(-90deg, var(--purple1), var(--purple2),var(--purple3));

    --fontAwesome: linear-gradient(-90deg, var(--purple1), var(--purple2));

    --productColorLit: var(--purple1);

    --whiteLight: var(--white);

    --firstShadowColor: var(--shadowLight2);

    --secondShadowColor: var(--shadowLight);

    --inputColor: var(--grey6);

    --inputfocus: var(--purple1);

    --amountBG: var(--white);

    --box-shadow: var(--shadowLight);

    --outputColor: var(--white);

    --outputcontainer: linear-gradient(90deg, var(--purple1), var(--cyan1));

    --spancolor: var(--white);

    --bgsubmit: linear-gradient(90deg, var(--purple1), var(--cyan),
            var(--purple2));

    --error-color: var(--red);

    --btn: linear-gradient(90deg, var(--purple1), var(--cyan1));

    --scrollbar: var(--grey2);
}

.dark {
    --bg: var(--purpleDark);

    --sayHello: linear-gradient(90deg, var(--blue), var(--purple2), var(--cyan));

    --switchTextColor: #fff;

    --fontAwesome: linear-gradient(90deg, var(--purple3), var(--purple2));

    --placeholder: var(--grey2);

    --h3wrap: linear-gradient(0deg, var(--grey2), var(--grey0));

    --productColorLit: var(--grey0);

    --inputColor: var(--grey0);

    --outputColor: var(--grey0);

    --firstShadowColor: var(--shadowDark2);
    
    --secondShadowColor: var(--black);

    --inputfocus: var(--cyan);

    --box-shadow: var(--black);

    --white: var(--grey6);

    --outputcontainer: linear-gradient(90deg, var(--purple1), var(--cyan1));

    --bgsubmit: linear-gradient(90deg, var(--yellow), var(--cyan),
            var(--purple2));

    --error-color: var(--red);

    --btn: linear-gradient(90deg, var(--purple1), var(--cyan1));

    --whiteLight: var(--purpleDark2);

    --scrollbar: var(--purple1);
}